.Array_body{
    margin-left: 20rem;
    background: #1D1E22;
    color: white;
    padding: 10rem;
}

.Array_body a:hover{
    color: #47ce72;
}

.Array_body h1{
    text-align: center;
}

.Array_body .flex button{
    padding: 0.5rem;
    background: white;
}

.list_items{
    display: flex;
    /* flex-direction: column; */
    border-bottom: 1px solid gray;
}

.list_btns{
    display: flex;
    flex-direction: column;
}

.list_btns button{
    margin: 3rem 0;
}

.list_btns span{
    font-size: 3rem;
    margin: 1.5rem 4rem;
}

.ques_link p{
    margin: 2rem 0;
}

.ques_link a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin: 0rem 3rem;
    transition: all 0.3s ease-in-out;
}

.ques_link a:hover{
    color: #47ce72;
}

.progress_info{
    display: flex;
    flex-direction: column;
}

.progress_info span{
    align-self: flex-end;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.row{
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
}

.flex{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.flex_items{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}

.flex_items button{
    margin: 0rem 1rem;
}

.sno{
    margin: 0 1rem;
    min-width: 4rem;
}

.flex_items a{
    color: white;
    text-decoration: none;
}

.ques{
    margin: 0rem 1rem;
    min-width: 60rem;
}

.flex2{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.flex2_items{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}

.flex2_items button{
    margin: 0rem 1rem;
}

.sno2{
    margin: 0 1rem;
    min-width: 4rem;
}

.flex2_items a{
    color: white;
    /* text-decoration: none; */
}

.ques2{
    margin: 0rem 1rem;
    min-width: 60rem;
    text-decoration: line-through;
}

.ques2 a{
    text-decoration: line-through !important;
}

.flex2 button{
    background: #47ce72;
    padding: 0.5rem;
}