@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.tr-mx-auto{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 1rem !important;
}
.tr-max-w-xl {
  max-width: 16rem !important;
}
.tr-w-full {
  width: 101% !important;
}
#signInDiv{
  background: black !important;
}