.sidebar {
    background: #1E1E27;
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 1rem;
    /* justify-content: center; */
  }
  
  .sidebar h1 {
    color: white;
    font-weight: 400;
    font-size: 3.5rem;
    width: 15vw;
    margin-top: 6rem;
    margin-bottom: 0;
  }

  .cc{
    font-size: 1rem;
    color: #6E758D;
  }
  
  .btn {
    margin: 4rem 0;
  }
  
  .btn a {
    position: relative;
    color: #f5f5f5;
    height: 7rem;
    width: 20rem;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  }
  
  .btn a:hover {
    animation: rotate 0.5s linear infinite;
    color: white;
  }
  
  @keyframes rotate {
    100% {
      filter: hue-rotate(-360deg)
    }
  }
  
  .btn a span {
    height: 88%;
    width: 96%;
    background: #111;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    line-height: 6.2rem;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (max-width: 1000px) {
    .btn{
      display: none;
    }
  
    .sidebar{
      display: fixed;
      width: 100vw;
      height: 5vh;
      top: 0;
      left: 0;
      z-index: 3;
      justify-content: flex-start;
      flex-direction: row;
      padding: 0 10rem;
    }
  
    .sidebar h1{
      width: 100%;
      font-size: 3rem;
    }
    
  }